@import "tokens/colors.css";
@import "tokens/state.css";
@import "tokens/workspace.css";
@import "tokens/widget.css";
@import "tokens/batt-clock.css";
@import "tokens/slider.css";
@import "tokens/mpris.css";

* {
  margin: 2px 10px 0 10px;
  padding: 0;
  /* min-height: 0px; */
  border: none;
  border-radius: 0;
  font-size: 12px;
  font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
  background: transparent;
  min-height: 0px;
}
