@define-color highlight rgba(117,241, 250,1);
@define-color dark-9 rgba(24,24, 27,0.9);
@define-color dark-8 rgba(39,39, 42,1);
@define-color dark-8 rgba(63,63 ,70,1);
@define-color dark-6 rgba(82,82 ,91,1);
@define-color dark-5 rgba(113,113, 122,1);

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 10px;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
}

#workspaces button {
  padding: 0 2px;
  margin: 4px 0 2px 7px;
  background: transparent;
  border-radius: 4px;
  color: white;
}

#workspaces button.active {
  background: @highlight;
  color: black;
  font-weight: 700;
}

#workspace button.urgent {
  background: rgba(227, 81, 71, 1);
}
#battery,
#bluetooth,
#network,
#cpu,
#memory,
#clock,
#volume,
#workspaces,
#custom-notification {
  border: solid 1px @highlight;
  border-radius: 8px;
  padding: 0 10px;
  background: @dark-9;
  margin: 2px 4px 2px 4px;
}

#pulseaudio-slider {
  padding: 0px;
  margin: 0px;
  margin-left: 8px;
}

#pulseaudio-slider slider {
  all: unset;
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 75px;
  border-radius: 5px;
  background: @dark-7;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @highlight;
}

#pulseaudio-slider.muted highlight {
  background-color: orange;
}

#media {
  color: #42ff9f;
  margin: 7px 10px 7px 80px;
}

#custom-media-animation {
  font-size: 13px;
  margin-right: 10px;
}

#custom-media-now-playing {
  margin-right: 10px;
}

#custom-media-time {
  color: white;
  font-size: 14px;
}

/* #custom-notification {
  padding: 0 10px;
} */

tooltip {
  background: @dark-9;
  border-radius: 5px;
}
tooltip label {
  color: white;
}
#custom-power {
  margin-left: 4px;
}

#custom-os-button {
  color: @highlight;
  background: @dark-9;
  padding: 0 12px;
  border-radius: 50%;
  /* border: solid 1px @highlight; */
  margin: 2px 4px 2px 4px;
}
